*{
    margin:0;
    padding:0;
}
h1{
    width:auto;
    color:#ba5151;
    position:relative;
    left:350px;
    top:50px;
    text-shadow: 10px 10px 5px  #b4b4e4;
}
p{
    font-size:20px;
    color:#483838;
    text-shadow: 5px 5px 4px  #8e8eb6;
    position:relative;
    left:100px;
    top:20px;
}
